<!DOCTYPE html>
<html>
  <head>
    <title>Add Owners</title>
    <link rel='stylesheet' href='/stylesheets/add.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
  </head>
  <body>
    <%- include('./parts/header.ejs') %>
    <div class="wrapper">
      <h1>Form for Add Owner</h1>
      <main class="form" class="page">
        <form class="form__add"
        action="/owners/add<%= owner?.id ? "/"+owner.id : ""%>" id="addOwnerForm"
         method="post">

          <% if (errors.length > 0) { %>
            <ul class="error-box">
              <% errors.forEach(function(error) { %>
                <li class="error-message"><%= error.msg %></li>
              <% }); %>
              <% } %>
            </ul>
          <div class="form__group">
            <label for="name">First Name:</label>
            <input type="text" id="name" name="name" required value="<%= owner?.name %>">
          </div>
          <div class="form__group">
            <label for="surname">Last Name:</label>
            <input type="text" id="surname" name="surname" required value="<%= owner?.surname %>">
          </div>
          <div class="form__group">
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" required value="<%= owner?.details?.age || '' %>">
          </div>
          <div class="form__group">
            <label for="profession">Profession:</label>
            <input type="text" id="profession" name="profession" required value="<%= owner?.details?.profession || '' %>">
          </div>
          <div class="form__group">
            <label for="address">City:</label>
            <input type="text" id="address" name="address" required value="<%= owner?.address %>">
          </div>
               <div class="form__group">
            <label for="surname">Descriptio:</label>
            <textarea name="descriptio" id="descriptio" value="<%= owner?.details?.descriptio || '' %>" rows="5" cols="30"></textarea>
          </div>
          <button class="form__btn" type="submit">Add Owner</button>
        </form>
      </main>
    </div>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
